.style{
    background-image: url('../../assets/img/book.jpg');
}

// @media (max-width:576px) {
//     .style{
//         width: 90%;
//      .ctrl{
//         width: 100%;
//      }
//     }
// }
/* Login.css */
.errors {
  color: red;
  font-size: 0.875rem;
}

.spinner-border {
  width: 1.5rem;
  height: 1.5rem;
}
